// Dark theme
$backgroundDark: #1C1E2E;
$sidebarDark: #161822;
$textDark: #DDDBDD;

// Bright theme
$backgroundBright: #FDFDFD;
$sidebarBright: #F0F1F6;
$textBright: #1D1C1D;

// Brand
$brandPrimary: #FC363D;
